<div>
  <h2 id="page-heading" data-cy="CampaignHeading">
    <span jhiTranslate="emapApp.campaign.home.title">Campaigns</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="emapApp.campaign.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-campaign"
        [routerLink]="['/campaign/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="emapApp.campaign.home.createLabel"> Create a new Campaign </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="campaigns?.length === 0">
    <span jhiTranslate="emapApp.campaign.home.notFound">No campaigns found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="campaigns && campaigns.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="reset()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="sourceType">
            <span jhiTranslate="emapApp.campaign.sourceType">Source Type</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="mcCampaingnId">
            <span jhiTranslate="emapApp.campaign.mcCampaingnId">Mc Campaingn Id</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="tmlCampaignId">
            <span jhiTranslate="emapApp.campaign.tmlCampaignId">Tml Campaign Id</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="icon"><span jhiTranslate="emapApp.campaign.icon">Icon</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="color"><span jhiTranslate="emapApp.campaign.color">Color</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="createDate">
            <span jhiTranslate="emapApp.campaign.createDate">Create Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="createUid">
            <span jhiTranslate="emapApp.campaign.createUid">Create Uid</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastUpdate">
            <span jhiTranslate="emapApp.campaign.lastUpdate">Last Update</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastUpdateUid">
            <span jhiTranslate="emapApp.campaign.lastUpdateUid">Last Update Uid</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let campaign of campaigns; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/campaign', campaign.id, 'view']">{{ campaign.id }}</a>
          </td>
          <td>{{ campaign.sourceType }}</td>
          <td>{{ campaign.mcCampaingnId }}</td>
          <td>{{ campaign.tmlCampaignId }}</td>
          <td>{{ campaign.icon }}</td>
          <td>{{ campaign.color }}</td>
          <td>{{ campaign.createDate | formatMediumDatetime }}</td>
          <td>{{ campaign.createUid }}</td>
          <td>{{ campaign.lastUpdate | formatMediumDatetime }}</td>
          <td>{{ campaign.lastUpdateUid }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/campaign', campaign.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/campaign', campaign.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(campaign)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
