<div>
  <h2 id="page-heading" data-cy="WarningMessageHeading">
    <span jhiTranslate="emapApp.warningMessage.home.title">Warning Messages</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="emapApp.warningMessage.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-warning-message"
        [routerLink]="['/warning-message/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="emapApp.warningMessage.home.createLabel"> Create a new Warning Message </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="warningMessages?.length === 0">
    <span jhiTranslate="emapApp.warningMessage.home.notFound">No warningMessages found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="warningMessages && warningMessages.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="reset()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="mcUserId">
            <span jhiTranslate="emapApp.warningMessage.mcUserId">Mc User Id</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="warningDistance">
            <span jhiTranslate="emapApp.warningMessage.warningDistance">Warning Distance</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="showWarningCircle">
            <span jhiTranslate="emapApp.warningMessage.showWarningCircle">Show Warning Circle</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="showWarningMessage">
            <span jhiTranslate="emapApp.warningMessage.showWarningMessage">Show Warning Message</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="warningMessage">
            <span jhiTranslate="emapApp.warningMessage.warningMessage">Warning Message</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="sendWarningMessageToMc">
            <span jhiTranslate="emapApp.warningMessage.sendWarningMessageToMc">Send Warning Message To Mc</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="createDate">
            <span jhiTranslate="emapApp.warningMessage.createDate">Create Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="createUid">
            <span jhiTranslate="emapApp.warningMessage.createUid">Create Uid</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastUpdate">
            <span jhiTranslate="emapApp.warningMessage.lastUpdate">Last Update</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastUpdateUid">
            <span jhiTranslate="emapApp.warningMessage.lastUpdateUid">Last Update Uid</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="warningRule.id">
            <span jhiTranslate="emapApp.warningMessage.warningRule">Warning Rule</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let warningMessage of warningMessages; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/warning-message', warningMessage.id, 'view']">{{ warningMessage.id }}</a>
          </td>
          <td>{{ warningMessage.mcUserId }}</td>
          <td>{{ warningMessage.warningDistance }}</td>
          <td>{{ warningMessage.showWarningCircle }}</td>
          <td>{{ warningMessage.showWarningMessage }}</td>
          <td>{{ warningMessage.warningMessage }}</td>
          <td>{{ warningMessage.sendWarningMessageToMc }}</td>
          <td>{{ warningMessage.createDate | formatMediumDatetime }}</td>
          <td>{{ warningMessage.createUid }}</td>
          <td>{{ warningMessage.lastUpdate | formatMediumDatetime }}</td>
          <td>{{ warningMessage.lastUpdateUid }}</td>
          <td>
            <div *ngIf="warningMessage.warningRule">
              <a [routerLink]="['/warning-rule', warningMessage.warningRule?.id, 'view']">{{ warningMessage.warningRule?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/warning-message', warningMessage.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/warning-message', warningMessage.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(warningMessage)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
