<div>
  <h2 id="page-heading" data-cy="ConfigSettingHeading">
    <span jhiTranslate="emapApp.configSetting.home.title">Config Settings</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="emapApp.configSetting.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-config-setting"
        [routerLink]="['/config-setting/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="emapApp.configSetting.home.createLabel"> Create a new Config Setting </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="configSettings?.length === 0">
    <span jhiTranslate="emapApp.configSetting.home.notFound">No configSettings found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="configSettings && configSettings.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="reset()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="sourceType">
            <span jhiTranslate="emapApp.configSetting.sourceType">Source Type</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="mcUserId">
            <span jhiTranslate="emapApp.configSetting.mcUserId">Mc User Id</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="tmlUserId">
            <span jhiTranslate="emapApp.configSetting.tmlUserId">Tml User Id</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="vmSysDefaultModeConf">
            <span jhiTranslate="emapApp.configSetting.vmSysDefaultModeConf">Vm Sys Default Mode Conf</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="vmSysSyncCycleConf">
            <span jhiTranslate="emapApp.configSetting.vmSysSyncCycleConf">Vm Sys Sync Cycle Conf</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="vmSysSyncCycleUnitConf">
            <span jhiTranslate="emapApp.configSetting.vmSysSyncCycleUnitConf">Vm Sys Sync Cycle Unit Conf</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="vmSysTargetDisplayNameConf">
            <span jhiTranslate="emapApp.configSetting.vmSysTargetDisplayNameConf">Vm Sys Target Display Name Conf</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="vmLiveDefaultModeConf">
            <span jhiTranslate="emapApp.configSetting.vmLiveDefaultModeConf">Vm Live Default Mode Conf</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="vmLiveDefaultTimerangeConf">
            <span jhiTranslate="emapApp.configSetting.vmLiveDefaultTimerangeConf">Vm Live Default Timerange Conf</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="vmLivePositionCycleConf">
            <span jhiTranslate="emapApp.configSetting.vmLivePositionCycleConf">Vm Live Position Cycle Conf</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="vmLivePositionCycleUnitConf">
            <span jhiTranslate="emapApp.configSetting.vmLivePositionCycleUnitConf">Vm Live Position Cycle Unit Conf</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="vmLiveTrackingAmplitudeConf">
            <span jhiTranslate="emapApp.configSetting.vmLiveTrackingAmplitudeConf">Vm Live Tracking Amplitude Conf</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="vmLiveTrackingAmplitudeUnitConf">
            <span jhiTranslate="emapApp.configSetting.vmLiveTrackingAmplitudeUnitConf">Vm Live Tracking Amplitude Unit Conf</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="sarSysSyncCycleConf">
            <span jhiTranslate="emapApp.configSetting.sarSysSyncCycleConf">Sar Sys Sync Cycle Conf</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="sarSysSyncCycleUnitConf">
            <span jhiTranslate="emapApp.configSetting.sarSysSyncCycleUnitConf">Sar Sys Sync Cycle Unit Conf</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="sarSysObjectDisplayName01Conf">
            <span jhiTranslate="emapApp.configSetting.sarSysObjectDisplayName01Conf">Sar Sys Object Display Name 01 Conf</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="sarSysObjectDisplayName02Conf">
            <span jhiTranslate="emapApp.configSetting.sarSysObjectDisplayName02Conf">Sar Sys Object Display Name 02 Conf</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="createDate">
            <span jhiTranslate="emapApp.configSetting.createDate">Create Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="createUid">
            <span jhiTranslate="emapApp.configSetting.createUid">Create Uid</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastUpdate">
            <span jhiTranslate="emapApp.configSetting.lastUpdate">Last Update</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastUpdateUid">
            <span jhiTranslate="emapApp.configSetting.lastUpdateUid">Last Update Uid</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let configSetting of configSettings; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/config-setting', configSetting.id, 'view']">{{ configSetting.id }}</a>
          </td>
          <td>{{ configSetting.sourceType }}</td>
          <td>{{ configSetting.mcUserId }}</td>
          <td>{{ configSetting.tmlUserId }}</td>
          <td>{{ configSetting.vmSysDefaultModeConf }}</td>
          <td>{{ configSetting.vmSysSyncCycleConf }}</td>
          <td>{{ configSetting.vmSysSyncCycleUnitConf }}</td>
          <td>{{ configSetting.vmSysTargetDisplayNameConf }}</td>
          <td>{{ configSetting.vmLiveDefaultModeConf }}</td>
          <td>{{ configSetting.vmLiveDefaultTimerangeConf }}</td>
          <td>{{ configSetting.vmLivePositionCycleConf }}</td>
          <td>{{ configSetting.vmLivePositionCycleUnitConf }}</td>
          <td>{{ configSetting.vmLiveTrackingAmplitudeConf }}</td>
          <td>{{ configSetting.vmLiveTrackingAmplitudeUnitConf }}</td>
          <td>{{ configSetting.sarSysSyncCycleConf }}</td>
          <td>{{ configSetting.sarSysSyncCycleUnitConf }}</td>
          <td>{{ configSetting.sarSysObjectDisplayName01Conf }}</td>
          <td>{{ configSetting.sarSysObjectDisplayName02Conf }}</td>
          <td>{{ configSetting.createDate | formatMediumDatetime }}</td>
          <td>{{ configSetting.createUid }}</td>
          <td>{{ configSetting.lastUpdate | formatMediumDatetime }}</td>
          <td>{{ configSetting.lastUpdateUid }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/config-setting', configSetting.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/config-setting', configSetting.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(configSetting)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
