<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-static-location-heading"
        data-cy="StaticLocationCreateUpdateHeading"
        jhiTranslate="emapApp.staticLocation.home.createOrEditLabel"
      >
        Create or edit a Static Location
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="emapApp.staticLocation.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('name')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 255 }"
            >
              This field cannot be longer than 255 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="emapApp.staticLocation.mcUserId" for="field_mcUserId">Mc User Id</label>
          <input type="text" class="form-control" name="mcUserId" id="field_mcUserId" data-cy="mcUserId" formControlName="mcUserId" />
          <div *ngIf="editForm.get('mcUserId')!.invalid && (editForm.get('mcUserId')!.dirty || editForm.get('mcUserId')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('mcUserId')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('mcUserId')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 15 }"
            >
              This field cannot be longer than 15 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="emapApp.staticLocation.address" for="field_address">Address</label>
          <input type="text" class="form-control" name="address" id="field_address" data-cy="address" formControlName="address" />
          <div *ngIf="editForm.get('address')!.invalid && (editForm.get('address')!.dirty || editForm.get('address')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('address')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('address')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 255 }"
            >
              This field cannot be longer than 255 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="emapApp.staticLocation.lat" for="field_lat">Lat</label>
          <input type="text" class="form-control" name="lat" id="field_lat" data-cy="lat" formControlName="lat" />
          <div *ngIf="editForm.get('lat')!.invalid && (editForm.get('lat')!.dirty || editForm.get('lat')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('lat')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('lat')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 20 }"
            >
              This field cannot be longer than 20 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="emapApp.staticLocation.lng" for="field_lng">Lng</label>
          <input type="text" class="form-control" name="lng" id="field_lng" data-cy="lng" formControlName="lng" />
          <div *ngIf="editForm.get('lng')!.invalid && (editForm.get('lng')!.dirty || editForm.get('lng')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('lng')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('lng')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 20 }"
            >
              This field cannot be longer than 20 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="emapApp.staticLocation.status" for="field_status">Status</label>
          <input type="checkbox" class="form-check" name="status" id="field_status" data-cy="status" formControlName="status" />
          <div *ngIf="editForm.get('status')!.invalid && (editForm.get('status')!.dirty || editForm.get('status')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('status')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="emapApp.staticLocation.createDate" for="field_createDate">Create Date</label>
          <div class="d-flex">
            <input
              id="field_createDate"
              data-cy="createDate"
              type="datetime-local"
              class="form-control"
              name="createDate"
              formControlName="createDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div *ngIf="editForm.get('createDate')!.invalid && (editForm.get('createDate')!.dirty || editForm.get('createDate')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('createDate')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('createDate')?.errors?.ZonedDateTimelocal"
              jhiTranslate="entity.validation.ZonedDateTimelocal"
            >
              This field should be a date and time.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="emapApp.staticLocation.createUid" for="field_createUid">Create Uid</label>
          <input type="text" class="form-control" name="createUid" id="field_createUid" data-cy="createUid" formControlName="createUid" />
          <div *ngIf="editForm.get('createUid')!.invalid && (editForm.get('createUid')!.dirty || editForm.get('createUid')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('createUid')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('createUid')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 15 }"
            >
              This field cannot be longer than 15 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="emapApp.staticLocation.lastUpdate" for="field_lastUpdate">Last Update</label>
          <div class="d-flex">
            <input
              id="field_lastUpdate"
              data-cy="lastUpdate"
              type="datetime-local"
              class="form-control"
              name="lastUpdate"
              formControlName="lastUpdate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div *ngIf="editForm.get('lastUpdate')!.invalid && (editForm.get('lastUpdate')!.dirty || editForm.get('lastUpdate')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('lastUpdate')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('lastUpdate')?.errors?.ZonedDateTimelocal"
              jhiTranslate="entity.validation.ZonedDateTimelocal"
            >
              This field should be a date and time.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="emapApp.staticLocation.lastUpdateUid" for="field_lastUpdateUid">Last Update Uid</label>
          <input
            type="text"
            class="form-control"
            name="lastUpdateUid"
            id="field_lastUpdateUid"
            data-cy="lastUpdateUid"
            formControlName="lastUpdateUid"
          />
          <div
            *ngIf="
              editForm.get('lastUpdateUid')!.invalid && (editForm.get('lastUpdateUid')!.dirty || editForm.get('lastUpdateUid')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('lastUpdateUid')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('lastUpdateUid')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 15 }"
            >
              This field cannot be longer than 15 characters.
            </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
