<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-coordinates-heading" data-cy="CoordinatesCreateUpdateHeading" jhiTranslate="emapApp.coordinates.home.createOrEditLabel">
        Create or edit a Coordinates
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="emapApp.coordinates.sourceType" for="field_sourceType">Source Type</label>
          <input
            type="text"
            class="form-control"
            name="sourceType"
            id="field_sourceType"
            data-cy="sourceType"
            formControlName="sourceType"
          />
          <div *ngIf="editForm.get('sourceType')!.invalid && (editForm.get('sourceType')!.dirty || editForm.get('sourceType')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('sourceType')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('sourceType')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 20 }"
            >
              This field cannot be longer than 20 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="emapApp.coordinates.mcCampaingnId" for="field_mcCampaingnId">Mc Campaingn Id</label>
          <input
            type="text"
            class="form-control"
            name="mcCampaingnId"
            id="field_mcCampaingnId"
            data-cy="mcCampaingnId"
            formControlName="mcCampaingnId"
          />
          <div
            *ngIf="
              editForm.get('mcCampaingnId')!.invalid && (editForm.get('mcCampaingnId')!.dirty || editForm.get('mcCampaingnId')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('mcCampaingnId')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 15 }"
            >
              This field cannot be longer than 15 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="emapApp.coordinates.tmlCampaignId" for="field_tmlCampaignId">Tml Campaign Id</label>
          <input
            type="text"
            class="form-control"
            name="tmlCampaignId"
            id="field_tmlCampaignId"
            data-cy="tmlCampaignId"
            formControlName="tmlCampaignId"
          />
          <div
            *ngIf="
              editForm.get('tmlCampaignId')!.invalid && (editForm.get('tmlCampaignId')!.dirty || editForm.get('tmlCampaignId')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('tmlCampaignId')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 15 }"
            >
              This field cannot be longer than 15 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="emapApp.coordinates.lat" for="field_lat">Lat</label>
          <input type="text" class="form-control" name="lat" id="field_lat" data-cy="lat" formControlName="lat" />
          <div *ngIf="editForm.get('lat')!.invalid && (editForm.get('lat')!.dirty || editForm.get('lat')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('lat')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 15 }"
            >
              This field cannot be longer than 15 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="emapApp.coordinates.lng" for="field_lng">Lng</label>
          <input type="text" class="form-control" name="lng" id="field_lng" data-cy="lng" formControlName="lng" />
          <div *ngIf="editForm.get('lng')!.invalid && (editForm.get('lng')!.dirty || editForm.get('lng')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('lng')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 15 }"
            >
              This field cannot be longer than 15 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="emapApp.coordinates.radius" for="field_radius">Radius</label>
          <input type="number" class="form-control" name="radius" id="field_radius" data-cy="radius" formControlName="radius" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="emapApp.coordinates.openAngle" for="field_openAngle">Open Angle</label>
          <input type="number" class="form-control" name="openAngle" id="field_openAngle" data-cy="openAngle" formControlName="openAngle" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="emapApp.coordinates.directionalAngle" for="field_directionalAngle"
            >Directional Angle</label
          >
          <input
            type="number"
            class="form-control"
            name="directionalAngle"
            id="field_directionalAngle"
            data-cy="directionalAngle"
            formControlName="directionalAngle"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="emapApp.coordinates.createDate" for="field_createDate">Create Date</label>
          <div class="d-flex">
            <input
              id="field_createDate"
              data-cy="createDate"
              type="datetime-local"
              class="form-control"
              name="createDate"
              formControlName="createDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div *ngIf="editForm.get('createDate')!.invalid && (editForm.get('createDate')!.dirty || editForm.get('createDate')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('createDate')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('createDate')?.errors?.ZonedDateTimelocal"
              jhiTranslate="entity.validation.ZonedDateTimelocal"
            >
              This field should be a date and time.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="emapApp.coordinates.createUid" for="field_createUid">Create Uid</label>
          <input type="text" class="form-control" name="createUid" id="field_createUid" data-cy="createUid" formControlName="createUid" />
          <div *ngIf="editForm.get('createUid')!.invalid && (editForm.get('createUid')!.dirty || editForm.get('createUid')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('createUid')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('createUid')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 15 }"
            >
              This field cannot be longer than 15 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="emapApp.coordinates.lastUpdate" for="field_lastUpdate">Last Update</label>
          <div class="d-flex">
            <input
              id="field_lastUpdate"
              data-cy="lastUpdate"
              type="datetime-local"
              class="form-control"
              name="lastUpdate"
              formControlName="lastUpdate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div *ngIf="editForm.get('lastUpdate')!.invalid && (editForm.get('lastUpdate')!.dirty || editForm.get('lastUpdate')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('lastUpdate')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('lastUpdate')?.errors?.ZonedDateTimelocal"
              jhiTranslate="entity.validation.ZonedDateTimelocal"
            >
              This field should be a date and time.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="emapApp.coordinates.lastUpdateUid" for="field_lastUpdateUid">Last Update Uid</label>
          <input
            type="text"
            class="form-control"
            name="lastUpdateUid"
            id="field_lastUpdateUid"
            data-cy="lastUpdateUid"
            formControlName="lastUpdateUid"
          />
          <div
            *ngIf="
              editForm.get('lastUpdateUid')!.invalid && (editForm.get('lastUpdateUid')!.dirty || editForm.get('lastUpdateUid')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('lastUpdateUid')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('lastUpdateUid')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 15 }"
            >
              This field cannot be longer than 15 characters.
            </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
