<div>
  <h2 id="page-heading" data-cy="CoordinatesDetailsHeading">
    <span jhiTranslate="emapApp.coordinatesDetails.home.title">Coordinates Details</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="emapApp.coordinatesDetails.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-coordinates-details"
        [routerLink]="['/coordinates-details/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="emapApp.coordinatesDetails.home.createLabel"> Create a new Coordinates Details </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="coordinatesDetails?.length === 0">
    <span jhiTranslate="emapApp.coordinatesDetails.home.notFound">No coordinatesDetails found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="coordinatesDetails && coordinatesDetails.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="reset()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="signalConnectionStrength">
            <span jhiTranslate="emapApp.coordinatesDetails.signalConnectionStrength">Signal Connection Strength</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="createDate">
            <span jhiTranslate="emapApp.coordinatesDetails.createDate">Create Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="createUid">
            <span jhiTranslate="emapApp.coordinatesDetails.createUid">Create Uid</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastUpdate">
            <span jhiTranslate="emapApp.coordinatesDetails.lastUpdate">Last Update</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastUpdateUid">
            <span jhiTranslate="emapApp.coordinatesDetails.lastUpdateUid">Last Update Uid</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="coordinate.id">
            <span jhiTranslate="emapApp.coordinatesDetails.coordinate">Coordinate</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="object.id">
            <span jhiTranslate="emapApp.coordinatesDetails.object">Object</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let coordinatesDetails of coordinatesDetails; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/coordinates-details', coordinatesDetails.id, 'view']">{{ coordinatesDetails.id }}</a>
          </td>
          <td>{{ coordinatesDetails.signalConnectionStrength }}</td>
          <td>{{ coordinatesDetails.createDate | formatMediumDatetime }}</td>
          <td>{{ coordinatesDetails.createUid }}</td>
          <td>{{ coordinatesDetails.lastUpdate | formatMediumDatetime }}</td>
          <td>{{ coordinatesDetails.lastUpdateUid }}</td>
          <td>
            <div *ngIf="coordinatesDetails.coordinate">
              <a [routerLink]="['/coordinates', coordinatesDetails.coordinate?.id, 'view']">{{ coordinatesDetails.coordinate?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="coordinatesDetails.object">
              <a [routerLink]="['/target', coordinatesDetails.object?.id, 'view']">{{ coordinatesDetails.object?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/coordinates-details', coordinatesDetails.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/coordinates-details', coordinatesDetails.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(coordinatesDetails)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
