<div>
  <h2 id="page-heading" data-cy="TrackingListDetailsHeading">
    <span jhiTranslate="emapApp.trackingListDetails.home.title">Tracking List Details</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="emapApp.trackingListDetails.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-tracking-list-details"
        [routerLink]="['/tracking-list-details/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="emapApp.trackingListDetails.home.createLabel"> Create a new Tracking List Details </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="trackingListDetails?.length === 0">
    <span jhiTranslate="emapApp.trackingListDetails.home.notFound">No trackingListDetails found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="trackingListDetails && trackingListDetails.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="reset()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="createDate">
            <span jhiTranslate="emapApp.trackingListDetails.createDate">Create Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="createUid">
            <span jhiTranslate="emapApp.trackingListDetails.createUid">Create Uid</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastUpdate">
            <span jhiTranslate="emapApp.trackingListDetails.lastUpdate">Last Update</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastUpdateUid">
            <span jhiTranslate="emapApp.trackingListDetails.lastUpdateUid">Last Update Uid</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="trackingList.id">
            <span jhiTranslate="emapApp.trackingListDetails.trackingList">Tracking List</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="mcTarget.id">
            <span jhiTranslate="emapApp.trackingListDetails.mcTarget">Mc Target</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let trackingListDetails of trackingListDetails; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/tracking-list-details', trackingListDetails.id, 'view']">{{ trackingListDetails.id }}</a>
          </td>
          <td>{{ trackingListDetails.createDate | formatMediumDatetime }}</td>
          <td>{{ trackingListDetails.createUid }}</td>
          <td>{{ trackingListDetails.lastUpdate | formatMediumDatetime }}</td>
          <td>{{ trackingListDetails.lastUpdateUid }}</td>
          <td>
            <div *ngIf="trackingListDetails.trackingList">
              <a [routerLink]="['/tracking-list', trackingListDetails.trackingList?.id, 'view']">{{
                trackingListDetails.trackingList?.id
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="trackingListDetails.mcTarget">
              <a [routerLink]="['/target', trackingListDetails.mcTarget?.id, 'view']">{{ trackingListDetails.mcTarget?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/tracking-list-details', trackingListDetails.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/tracking-list-details', trackingListDetails.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(trackingListDetails)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
