<div>
  <h2 id="page-heading" data-cy="CoordinatesHeading">
    <span jhiTranslate="emapApp.coordinates.home.title">Coordinates</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="emapApp.coordinates.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-coordinates"
        [routerLink]="['/coordinates/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="emapApp.coordinates.home.createLabel"> Create a new Coordinates </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="coordinates?.length === 0">
    <span jhiTranslate="emapApp.coordinates.home.notFound">No coordinates found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="coordinates && coordinates.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="reset()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="sourceType">
            <span jhiTranslate="emapApp.coordinates.sourceType">Source Type</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="mcCampaingnId">
            <span jhiTranslate="emapApp.coordinates.mcCampaingnId">Mc Campaingn Id</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="tmlCampaignId">
            <span jhiTranslate="emapApp.coordinates.tmlCampaignId">Tml Campaign Id</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lat"><span jhiTranslate="emapApp.coordinates.lat">Lat</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="lng"><span jhiTranslate="emapApp.coordinates.lng">Lng</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="radius">
            <span jhiTranslate="emapApp.coordinates.radius">Radius</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="openAngle">
            <span jhiTranslate="emapApp.coordinates.openAngle">Open Angle</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="directionalAngle">
            <span jhiTranslate="emapApp.coordinates.directionalAngle">Directional Angle</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="createDate">
            <span jhiTranslate="emapApp.coordinates.createDate">Create Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="createUid">
            <span jhiTranslate="emapApp.coordinates.createUid">Create Uid</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastUpdate">
            <span jhiTranslate="emapApp.coordinates.lastUpdate">Last Update</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastUpdateUid">
            <span jhiTranslate="emapApp.coordinates.lastUpdateUid">Last Update Uid</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let coordinates of coordinates; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/coordinates', coordinates.id, 'view']">{{ coordinates.id }}</a>
          </td>
          <td>{{ coordinates.sourceType }}</td>
          <td>{{ coordinates.mcCampaingnId }}</td>
          <td>{{ coordinates.tmlCampaignId }}</td>
          <td>{{ coordinates.lat }}</td>
          <td>{{ coordinates.lng }}</td>
          <td>{{ coordinates.radius }}</td>
          <td>{{ coordinates.openAngle }}</td>
          <td>{{ coordinates.directionalAngle }}</td>
          <td>{{ coordinates.createDate | formatMediumDatetime }}</td>
          <td>{{ coordinates.createUid }}</td>
          <td>{{ coordinates.lastUpdate | formatMediumDatetime }}</td>
          <td>{{ coordinates.lastUpdateUid }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/coordinates', coordinates.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/coordinates', coordinates.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(coordinates)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
