<div>
  <h2 id="page-heading" data-cy="StaticLocationHeading">
    <span jhiTranslate="emapApp.staticLocation.home.title">Static Locations</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="emapApp.staticLocation.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-static-location"
        [routerLink]="['/static-location/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="emapApp.staticLocation.home.createLabel"> Create a new Static Location </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="staticLocations?.length === 0">
    <span jhiTranslate="emapApp.staticLocation.home.notFound">No staticLocations found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="staticLocations && staticLocations.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="reset()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="name"><span jhiTranslate="emapApp.staticLocation.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="mcUserId">
            <span jhiTranslate="emapApp.staticLocation.mcUserId">Mc User Id</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="address">
            <span jhiTranslate="emapApp.staticLocation.address">Address</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lat"><span jhiTranslate="emapApp.staticLocation.lat">Lat</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="lng"><span jhiTranslate="emapApp.staticLocation.lng">Lng</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="status">
            <span jhiTranslate="emapApp.staticLocation.status">Status</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="createDate">
            <span jhiTranslate="emapApp.staticLocation.createDate">Create Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="createUid">
            <span jhiTranslate="emapApp.staticLocation.createUid">Create Uid</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastUpdate">
            <span jhiTranslate="emapApp.staticLocation.lastUpdate">Last Update</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastUpdateUid">
            <span jhiTranslate="emapApp.staticLocation.lastUpdateUid">Last Update Uid</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let staticLocation of staticLocations; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/static-location', staticLocation.id, 'view']">{{ staticLocation.id }}</a>
          </td>
          <td>{{ staticLocation.name }}</td>
          <td>{{ staticLocation.mcUserId }}</td>
          <td>{{ staticLocation.address }}</td>
          <td>{{ staticLocation.lat }}</td>
          <td>{{ staticLocation.lng }}</td>
          <td>{{ staticLocation.status }}</td>
          <td>{{ staticLocation.createDate | formatMediumDatetime }}</td>
          <td>{{ staticLocation.createUid }}</td>
          <td>{{ staticLocation.lastUpdate | formatMediumDatetime }}</td>
          <td>{{ staticLocation.lastUpdateUid }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/static-location', staticLocation.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/static-location', staticLocation.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(staticLocation)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
